
.content {
    max-width: 80vw;
    justify-self: center;

    margin: 1rem;
    padding: 2rem 5rem 2rem 5rem;

    border: black solid 3px;
    border-radius: 1rem;

    background-color: lightgray;
    color: black;

    max-width: 60vw;
}

.content h2{
    margin: 0;
    margin-bottom: .5rem;
}

.content p{
    margin: 0;
}