.nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

#logo {
    height: 80%;
    margin-left: 1rem;
    display: inline;
}

#container {
    display: inline;
    justify-content: space-between;
    align-items: center;
}

#navBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-right: 1rem;
    gap: 1rem;
    justify-content: center;

    height: auto;
}

#navBar button {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

#navBar button:hover {
    border-color: white;
}

a {
    color: white;
}

a:hover {
    color: white;
}